.root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  padding-top: calc(var(--gap-rem) / 2);
  padding-bottom: calc(var(--gap-rem) / 2);
}

.wrapper {
  display: grid;
  grid-gap: calc(var(--gap-rem) / 2);
}

.hidden {
  visibility: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--gap-rem) / 2);
  padding-right: calc(var(--gap-rem) / 2);
  max-width: 30rem;
  min-width: min-content;
}

.text {
  margin-top: auto;
}

.controls {
  display: flex;
}

.prev {
  margin-right: -0.5rem;
}

.scroller {
  display: flex;
  height: 100%;
  gap: var(--gap-rem);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.item {
  display: flex;
  width: 100%;
  height: 100%;
  flex: none;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.back {
  margin-bottom: 3rem;
}

@media (--md) {
  .root {
    padding-left: var(--gap-rem);
    padding-right: var(--gap-rem);
  }

  .column {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (--lg) {
  .root {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper {
    grid-template-columns: auto auto;
    grid-gap: var(--gap-rem);
  }

  .scroller {
    align-items: center;
  }

  .column {
    order: 1;
    padding-top: var(--gap-rem);
    padding-bottom: var(--gap-rem);
  }

  .caption {
    padding-left: 3.2rem;
    padding-bottom: 3rem;
  }

  .item {
    align-items: center;
  }

  .instruction {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
  }
}

/* modern scroll snap points */
@supports (scroll-snap-align: start) {
  .scroller {
    scroll-snap-type: x mandatory;
  }

  .item {
    scroll-snap-align: center;
  }
}

/* old scroll snap points spec */
@supports not (scroll-snap-align: start) {
  .scroller {
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0% center;
    scroll-snap-destination: 0% center;
    -webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
  }

  .item {
    scroll-snap-coordinate: 0 0;
  }
}
