.root {
  --page-album-arrow-width: calc(28 / var(--base-font-size) * 1rem);
  --page-album-arrow-height: calc(23 / var(--base-font-size) * 1rem);
  --page-album-arrow-gap: 0.75rem;

  margin-bottom: calc(var(--gap-rem) * -1);
  margin-top: calc(var(--gap-rem) * -1);
  padding-top: calc(var(--gap-rem) * 1.5);
  padding-bottom: calc(var(--gap-rem) * 1.5);
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content {
  display: grid;
  grid-gap: calc(var(--gap-rem) / 2);
  height: 100%;
  justify-content: center;
}

.caption {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--gap-rem) / 2);
  padding-right: calc(var(--gap-rem) / 2);
}

.scroller {
  display: flex;
  height: 100%;
  gap: var(--gap-rem);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroller:focus {
  outline: thin dotted currentColor;
  outline-offset: 2px;
}

.item {
  display: flex;
  width: 100%;
  height: 100%;
  flex: none;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.back {
  margin-bottom: 2rem;
}

.backLinkContent {
  display: flex;
  align-items: center;
}

.arrow {
  width: var(--page-album-arrow-width);
  height: var(--page-album-arrow-height);
  margin-right: var(--page-album-arrow-gap);
}

.left,
.right {
  width: var(--page-album-arrow-width);
  height: var(--page-album-arrow-height);
}

.right {
  transform: scaleX(-1);
}

.instruction {
  display: flex;
  align-items: center;
  opacity: 0.3;
  padding-top: 3rem;
}

.instructionIcon {
  margin-right: 1rem;
}

@media (--md) {
  .root {
    padding-left: var(--gap-rem);
    padding-right: var(--gap-rem);
  }

  .caption {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (--lg) {
  .root {
    align-items: center;
  }

  .content {
    grid-template-columns: minmax(0, 700px) minmax(300px, 30%);
    grid-gap: var(--gap-rem);
    min-height: 700px;
  }

  .caption {
    grid-row: 1;
    grid-column: 2;
  }

  .scroller {
    grid-row: 1;
    grid-column: 1;
  }

  .item {
    align-items: center;
  }

  .arrow,
  .back {
    margin-left: calc(
      -1 * (var(--page-album-arrow-width) + var(--page-album-arrow-gap))
    );
  }

  .backLinkContent {
    padding-left: calc(
      var(--page-album-arrow-width) + var(--page-album-arrow-gap)
    );
  }

  .instruction {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
  }
}

.text {
  margin-top: auto;
}

.scroller::-webkit-scrollbar {
  display: none;
}

/* modern scroll snap points */
@supports (scroll-snap-align: start) {
  .scroller {
    scroll-snap-type: x mandatory;
  }

  .item {
    scroll-snap-align: center;
  }
}

/* old scroll snap points spec */
@supports not (scroll-snap-align: start) {
  .scroller {
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0% center;
    scroll-snap-destination: 0% center;
    -webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
  }

  .item {
    scroll-snap-coordinate: 0 0;
  }
}
