.root.display {
  display: block;
}

.hidden.display {
  display: none;
}

.root.visibility {
  visibility: visible;
}

.hidden.visibility {
  display: none;
}

@media (--sm) {
  .sm.root.display {
    display: none;
  }

  .sm.root.visibility {
    visibility: hidden;
  }
}

@media (--md) {
  .md.root.display {
    display: none;
  }

  .md.root.visibility {
    visibility: hidden;
  }
}

@media (--lg) {
  .lg.root.display {
    display: none;
  }

  .lg.root.visibility {
    visibility: hidden;
  }
}

@media (--xl) {
  .xl.display {
    display: none;
  }

  .xl.root.visibility {
    visibility: hidden;
  }
}
