.root.display {
  display: none;
}

.shown.display {
  display: block;
}

.root.visibility {
  visibility: hidden;
}

.shown.visibility {
  visibility: visible;
}


@media (--sm) {
  .sm.root.display {
    display: block;
  }
  .sm.root.visibility {
    visibility: visible;
  }
}

@media (--md) {
  .md.root {
    display: block;
  }
  .md.root.visibility {
    visibility: visible;
  }
}

@media (--lg) {
  .lg.root {
    display: block;
  }
  .lg.root.visibility {
    visibility: visible;
  }
}

@media (--xl) {
  .xl.root {
    display: block;
  }
  .xl.root.visibility {
    visibility: visible;
  }
}
