:root {
  --ff-transgender: 'Transgender Grotesk', sans-serif;
  --ff-object-sans: 'Object Sans', sans-serif;
  --base-font-size: 16;
  --fz-16: calc(16 / var(--base-font-size) * 1rem);
  --fz-20: calc(20 / var(--base-font-size) * 1rem);
  --fz-32: calc(32 / var(--base-font-size) * 1rem);
  --fz-40: calc(40 / var(--base-font-size) * 1rem);
  --fz-56: calc(56 / var(--base-font-size) * 1rem);
  --gap-px: 50;
  --gap-rem: calc(var(--gap-px) / var(--base-font-size) * 1rem);
  --focus-outline: thin dotted currentColor;
  --focus-outline-offset: 2px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.2;
  font-family: var(--ff-object-sans);
  position: relative;

  /* to prevent page transition on overscroll */
  overscroll-behavior-x: contain;
}

a {
  color: inherit;
}

@font-face {
  font-family: 'Transgender Grotesk';
  src: url('../../static/fonts/transgender-grotesk-regular.woff2')
    format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('../../static/fonts/object-sans-regular.woff2')
  format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}


/*
   By default scrollbar is hidden,
   it's enabled on certain pages
   by setting data-show-scroll-bar attribute
   via react-helmet. For some reason,
   if scrollbar is visible by default, then
   safari fails to hide it dynamically ¯\_(ツ)_/¯
*/
@media (--md) {
  body:not([data-show-scroll-bar]) {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body:not([data-show-scroll-bar])::-webkit-scrollbar {
    display: none;
  }
}
