:root {
  --ff-transgender: 'Transgender Grotesk', sans-serif;
  --ff-object-sans: 'Object Sans', sans-serif;
  --base-font-size: 16;
  --fz-16: calc(16 / var(--base-font-size) * 1rem);
  --fz-20: calc(20 / var(--base-font-size) * 1rem);
  --fz-32: calc(32 / var(--base-font-size) * 1rem);
  --fz-40: calc(40 / var(--base-font-size) * 1rem);
  --fz-56: calc(56 / var(--base-font-size) * 1rem);
  --gap-px: 50;
  --gap-rem: calc(var(--gap-px) / var(--base-font-size) * 1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-object-sans);
  background-color: rgb(245, 234, 234);
}

a {
  color: inherit;
}

@font-face {
  font-family: 'Transgender Grotesk';
  src: url('../../static/fonts/transgender-grotesk-regular.woff2')
    format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Object Sans';
  src: url('../../static/fonts/object-sans-regular.woff2')
  format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@media (--md) {
  .hide-scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
