.heading {
  position: relative;
}

.title {
  font-family: var(--ff-transgender);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: lowercase;
  clear: left;
}

.subtitle {
  display: flex;
  font-family: var(--ff-object-sans);
  font-weight: normal;
  /* needed to remove element from the flow */
  /* so that 'baseline' is calculated from 'title' */
  float: left;
}

.description {
  line-height: 1.4;
}

@media (--md) {
  .title {
    padding-bottom: 1rem;
  }

  .description {
    line-height: 1.6;
  }
}
