.title {
  font-family: var(--ff-transgender);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-transform: lowercase;
  clear: left;
  line-height: 1;
}

.subtitle {
  display: flex;
  font-family: var(--ff-object-sans);
  font-weight: normal;

  /* needed to remove element from the flow
  so that 'baseline' is calculated from 'title' */
  float: left;
}

.description {
  line-height: 1.4;
}

@media (--md) {
  .description {
    line-height: 1.6;
  }
}
