.header {
  width: 100%;
  padding-left: var(--gap-rem);
  padding-right: var(--gap-rem);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: var(--gap-rem);
  align-items: center;
  background-color: white;
}

.header.expanded {
  grid-template-rows: var(--gap-rem) 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  margin-right: -11rem;
  margin-left: calc(-1 * var(--gap-rem) / 2);
  position: relative;
  z-index: 1;
}

.logoContent {
  width: 11rem;
}

.nav {
  height: 100%;
  justify-self: right;
  display: flex;
}

.nav.expanded {
  grid-column: 1/-1;
  width: 100%;
  padding-top: 130px;
  text-align: center;
  justify-content: center;
  font-size: var(--fz-32);
  line-height: 1.6;
}

.toggle {
  margin-right: calc(-1 * var(--gap-rem) / 2);
}

.toggle.expanded {
  grid-row: 1;
  grid-column: 3;
}

@media (--lg) {
  .nav {
    justify-self: center;
  }
}
