.root {
  display: flex;
  position: relative;
}

.placeholder {
  max-width: 100%;
  max-height: calc(100vh - var(--gap-rem) * 4);
  display: block;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
