.root {
  text-decoration: none;
  outline: none;
}

.content {
  display: inline-block;
  outline: none;
}

.root:focus > .content {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
