.root {
  height: 100%;
  display: grid;
  grid-gap: 2rem;
  align-items: baseline;
  align-content: center;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
}

@media (--md) {
  .root {
    grid-template-columns: max-content auto;
  }
}
